*.map
run
tags
*.swp
*.bak
*.[oa]
*~
log
logs
/install/*
/cache
*.md5
/uploads
*.min.map
Thumbs.db
*.~pck
node_modules
node_modules*
npm-debug.log
coverage
.idea


# files for the dex VM
*.dex

# for Mac
.DS_Store


# for C
o.obj
.lib
.so
.dll

# Python:
*.py[cod]
*.egg
*.egg-info
dist
build

# C#:
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.ncb
[Tt]humbs.db 
Ankh.NoLoad

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc

!.gitkeep

