*.swp
*.bak

.config
.coveralls.yml
.editorconfig
.githooks
.nyc_output
.travis.yml
.vscode

appveyor.yml
coverage
demo
docs
node_modules*
npm-shrinkwrap.json
rollup.config.js
src
test
test_browser*
tsconfig*
typedoc.json

/*.tgz
/*lint*
/docs*
/dist*
!/dist

!/asset/.config

