{
  // 使用 IntelliSense 了解相关属性。
  // 悬停以查看现有属性的描述。
  // 欲了解更多信息，请访问: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Chrome Debug with Karma",
      "type": "chrome",
      "address": "localhost",
      "pathMapping": {
        "/": "${workspaceRoot}/",
        "/base/": "${workspaceRoot}/"
      },
      "port": 9333,
      "request": "attach",
      "runtimeArgs": ["--preserve-symlinks"]
    },
    {
      "name": "Mocha Tests",
      "type": "node",
      "args": [
        "-u",
        "bdd",
        "--timeout",
        "999999",
        "--colors",
        "--parallel=false",
        // "${workspaceFolder}/test/**/**.test.ts"
      ],
      "env": {
        "NODE_ENV": "unittest",
        "TS_NODE_PROJECT": "test/tsconfig.json",
        "POSTGRES_HOST": "",
        "POSTGRES_PORT": "5432",
        "POSTGRES_DB": "",
        "POSTGRES_USER": "postgres",
        "POSTGRES_PASSWORD": "",
      },
      "internalConsoleOptions": "openOnSessionStart",
      "outDir": "${workspaceFolder}/dist",
      "program": "${workspaceFolder}/../../node_modules/mocha/bin/_mocha",
      "request": "launch",
      "runtimeArgs": ["--preserve-symlinks"],
      "skipFiles": [
        "${workspaceFolder}/../../node_modules/rxjs/**/*.js",
        "${workspaceFolder}/node_modules/rxjs/**/*.js",
        "<node_internals>/**",
        "<node_internals>/**/*.js"
      ],
      "timeout": 30000
    },
  ]
}
